#[Homepage](http://fzinfz.github.io/)

##run python online
http://repl.it/languages/Python  
http://repl.it/languages/Python3   
(Noteï¼š http://repl.it can run nearly any language)  
[Running a notebook server](https://ipython.org/ipython-doc/dev/notebook/public_server.html)  

##code practice
http://www.codewars.com/

## virtualenv
virtualenv ENV  
cd ENV  
source ./bin/activate  
deactivate

#String

In [234]:
("hue" * 3).upper()

'HUEHUEHUE'

In [235]:
import re
re.sub(r'(?i)\b(u|you+)\b', "your name", 'u YOU')

'your name your name'

In [132]:
" \tworld\n  ".strip()    # strip, lstrip, rstrip

'world'

#skills

In [128]:
spam = 'hue'.__mul__  #a function
spam(4)

'huehuehuehue'

In [133]:
import string
sentence = "The quick brown fox jumps over the lazy dog"  #pangram 
len( [s for s in list(string.ascii_lowercase) if s in str.lower(sentence)]  )

26

In [134]:
all(letter in sentence for letter in string.ascii_lowercase)

True

In [135]:
any(l == 't' for l in 'python') # Returns True. Same as: 't' in 'python

True

In [136]:
all(l == 't' for l in 'python') # Returns False. Not all of the letters are 't'.

False

In [137]:
from random import randint,seed
seed(1)
randint(1,100) #always the same

18

In [138]:
for i, j in enumerate('abc'): print(str(i) + ":" + j)

0:a
1:b
2:c

In [139]:
from functools import reduce 
a = ['1', '2', '3'] 
reduce(lambda x, y: x + '-' + y, a)

'1-2-3'

In [140]:
a,b = [1,2,2], [2]
list(filter( lambda x: x not in b ,a))
[x for x in a if x not in b]

[1]

In [141]:
list(map(lambda x: x*2,[1,2,3]))

[2, 4, 6]

In [142]:
sorted(['ad','abd','b'])

['abd', 'ad', 'b']

In [143]:
sorted({'ad','abd','b','b'})

['abd', 'ad', 'b']

In [144]:
[{x for x in range(8)}]

[{0, 1, 2, 3, 4, 5, 6, 7}]

In [145]:
a1 = ["live", "arp", "strong"] 
a2 = ["lively", "alive", "harp", "sharp", "armstrong"]
[s1 for s1 in a1 for s2 in a2 if s1 in s2]

['live', 'live', 'arp', 'arp', 'strong']

In [146]:
students = [('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10),]  
sorted(students, key=lambda s : s[2])   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [147]:
{1,3,2} - {1}

{2, 3}

In [148]:
{1,3,2} & {1}

{1}

In [149]:
a = {'i': 30,'u': 20,'she':44}
b = {'i': 31,'u': 21,'he': 55}
c = a.copy()
c.update(b)
c

{'he': 55, 'i': 31, 'she': 44, 'u': 21}

In [150]:
 [1, 2, 3, 4, 1, 4, 1].count(1)

3

In [151]:
[1,2,3][::-1]

[3, 2, 1]

In [152]:
a = [1,2,3,2,1]
a.remove(1) #insert, remove or sort only modify the list have no return value printed
a.insert(2, -1) # 2 is index, -1 is value
b = [1,2,3,2,1]
b.pop(1) # 1 is index
print(a)
a.reverse()
print(a)
print(b)

[2, 3, -1, 2, 1]
[1, 2, -1, 3, 2]
[1, 3, 2, 1]

In [153]:
delete_nth = lambda order, max_e: [x for i, x in enumerate(order) if order[:i].count(x) < max_e]
delete_nth([20,37,20,21],1)  #item appears at most 1 times

[20, 37, 21]

In [154]:
from collections import defaultdict
d = defaultdict(list)
d[1] = 3 # int, not default list
d[1] = [4]
d[1].append(5)
d[2]  #set to default []
d

defaultdict(<class 'list'>, {1: [4, 5], 2: []})

In [155]:
i = defaultdict(int)
i[1]

0

#Time

In [224]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2015, 5, 30, 12, 10, 4, 104758)

#DB
##MySQL
pip2 install mysql  
http://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html  
pip3 install PyMySQL  
https://github.com/PyMySQL/PyMySQL/

In [ ]:
import pymysql.cursors

# Connect to the database 
connection = pymysql.connect(host='mysqlserver',
                             user='root',
                             passwd='xxx',
                             db='innodb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
try:    
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `page` (`job_start`, `site` ,`url`) VALUES (%s,%s,'http://')"
        cursor.execute(sql, (now, 'test',))
        print(cursor.lastrowid)  #get AUTO_INCREMENT id
    connection.commit()
    
    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT `url`, `id` FROM `page` WHERE `site`=%s"
        cursor.execute(sql, ('test',))
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()

##MangoDB

In [230]:
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost', 270188)  #random port, no error???
client.test_database

Database(MongoClient('localhost', 270188), 'test_database')

##AWS dynamodb
http://boto.readthedocs.org/en/latest/dynamodb_tut.html  
http://boto.readthedocs.org/en/latest/ref/dynamodb.html

In [232]:
import boto.dynamodb
print(boto.__version__)
boto.dynamodb.regions()
conn = boto.dynamodb.connect_to_region(
   'ap-southeast-1',
   aws_access_key_id='xx',
   aws_secret_access_key='yy')
conn.list_tables()
t = conn.get_table('shop')
item_data = {
        'Col2': 'Column added automatically',
    }
item = t.new_item(hash_key = 1, attrs=item_data )
item.put()

2.38.0

{'ConsumedCapacityUnits': 1.0}

In [233]:
item = t.get_item(
        hash_key=1,  # If not exist: DynamoDBKeyNotFoundError: BotoClientError: Key does not exist.
        #range_key=''
    )
item

{'Col2': 'Column added automatically', 'id': 1}

#system

In [179]:
import glob,os
os.chdir("/home/")
glob.glob('*')

['ec2-user']

In [197]:
import time
time.sleep(0.2)

In [239]:
import sys
print(sys.path)

['', '/mnt/5g/tornado/nb', '/opt/python/current/app', '/opt/python/run/venv/lib64/python3.4', '/opt/python/run/venv/lib64/python3.4/plat-linux', '/opt/python/run/venv/lib64/python3.4/lib-dynload', '/usr/lib64/python3.4', '/usr/lib/python3.4', '/opt/python/run/venv/local/lib/python3.4/site-packages', '/opt/python/run/venv/lib/python3.4/site-packages', '/opt/python/run/venv/local/lib/python3.4/site-packages/IPython/extensions']

In [ ]:
exec(open("comm.py",encoding='utf-8').read())