#[Homepage](http://fzinfz.github.io/)

# virtualenv
deactivate  
cd ENV  
source ./bin/activate  
deactivate

#function

In [6]:
spam = 'hue'.__mul__  #a function
spam(4)

'huehuehuehue'

#String

In [5]:
"hue" * 3

'huehuehue'

In [13]:
'Abc'.lower()

'abc'

In [51]:
import re
re.sub(r'(?i)\b(u|you+)\b', "your sister", 'u YOU')

'your sister your sister'

#skills

In [12]:
import string
sentence = "The quick brown fox jumps over the lazy dog"  #pangram 
len( [s for s in list(string.ascii_lowercase) if s in str.lower(sentence)]  )

26

In [20]:
all(letter in sentence for letter in string.ascii_lowercase)

True

In [35]:
any(l == 't' for l in 'python') # Returns True. Same as: 't' in 'python

True

In [36]:
all(l == 't' for l in 'python') # Returns False. Not all of the letters are 't'.

False

In [40]:
from random import randint,seed
seed(1)
randint(1,100) #always the same

18

In [46]:
for i, j in enumerate('abc'): print(str(i) + ":" + j)

0:a
1:b
2:c

In [52]:
from functools import reduce 
a = ['1', '2', '3'] 
reduce(lambda x, y: x + '-' + y, a)

'1-2-3'

In [59]:
a,b = [1,2,2], [2]
list(filter( lambda x: x not in b ,a))
[x for x in a if x not in b]

[1]

In [61]:
list(map(lambda x: x*2,[1,2,3]))

[2, 4, 6]

In [66]:
sorted(['ad','abd','b'])

['abd', 'ad', 'b']

In [67]:
sorted({'ad','abd','b','b'})

['abd', 'ad', 'b']

In [69]:
[{x for x in range(8)}]

[{0, 1, 2, 3, 4, 5, 6, 7}]

In [70]:
a1 = ["live", "arp", "strong"] 
a2 = ["lively", "alive", "harp", "sharp", "armstrong"]
[s1 for s1 in a1 for s2 in a2 if s1 in s2]

['live', 'live', 'arp', 'arp', 'strong']

In [76]:
students = [('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10),]  
sorted(students, key=lambda s : s[2])   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [77]:
{1,3,2} - {1}

{2, 3}

In [78]:
{1,3,2} & {1}

{1}

In [88]:
a = {'i': 30,'u': 20,'she':44}
b = {'i': 31,'u': 21,'he': 55}
c = a.copy()
c.update(b)
c

{'he': 55, 'i': 31, 'she': 44, 'u': 21}

In [92]:
 [1, 2, 3, 4, 1, 4, 1].count(1)

3

In [93]:
[1,2,3][::-1]

[3, 2, 1]

In [101]:
a = [1,2,3,2,1]
a.remove(1) #insert, remove or sort only modify the list have no return value printed
a.insert(2, -1) # 2 is index, -1 is value
b = [1,2,3,2,1]
b.pop(1) # 1 is index
print(a)
a.reverse()
print(a)
print(b)

[2, 3, -1, 2, 1]
[1, 2, -1, 3, 2]
[1, 3, 2, 1]

In [103]:
delete_nth = lambda order, max_e: [x for i, x in enumerate(order) if order[:i].count(x) < max_e]
delete_nth([20,37,20,21],1)  #item appears at most 1 times

[20, 37, 21]

In [118]:
from collections import defaultdict
d = defaultdict(list)
d[1] = 3 # int, not default list
d[1] = [4]
d[1].append(5)
d[2]  #set to default []
d

defaultdict(<class 'list'>, {1: [4, 5], 2: []})

In [119]:
i = defaultdict(int)
i[1]

0