#[Homepage](http://fzinfz.github.io/)

##run python online
http://repl.it/languages/Python  
http://repl.it/languages/Python3   
(Noteï¼š http://repl.it can run nearly any language)  
[Running a notebook server](https://ipython.org/ipython-doc/dev/notebook/public_server.html)  

##code practice
http://www.codewars.com/

## virtualenv
virtualenv ENV  
cd ENV  
source ./bin/activate  
deactivate

#File

In [241]:
import os
os.path.exists(path_ori) 
os.rename(path_ori, path_bak)    
os.makedirs(path_ori)

In [263]:
datetime.datetime.fromtimestamp( os.path.getmtime('/tmp') ,tz)

datetime.datetime(2015, 6, 1, 0, 45, 2, 318563, tzinfo=<DstTzInfo 'Asia/Shanghai' CST+8:00:00 STD>)

In [ ]:
from IPython.display import Image
Image(filename='temp.png')  #Display image

#String

In [234]:
("hue" * 3).upper()

'HUEHUEHUE'

In [12]:
str = "is is is";
print(str.replace("is", "was"))
print(str.replace("is", "was", 2))

was was was
was was is

In [3]:
import re
re.sub(r'(?i)\b(u|you+)\b', "your name", 'u YOU')

'your name your name'

In [11]:
m = re.search("\w",'1dfsde2')
if m: print(m.group(0))

1

In [132]:
" \tworld\n  ".strip()    # strip, lstrip, rstrip

'world'

In [7]:
print(str(b'946809'), end = " ### " )
print(b'946809'.decode('utf8') )

b'946809' ### 946809

In [1]:
"%.2f" % float("3.5555")

'3.56'

In [9]:
from urllib.parse import urlparse

def get_filename_from_url(url):
    return urlparse(url).path.split('/')[-1]

url = "http://imgqn.xxx.com/upload_files/2015/05/29/yyy.jpg!730x0.jpg"
urlparse(url)

ParseResult(scheme='http', netloc='imgqn.xxx.com', path='/upload_files/2015/05/29/yyy.jpg!730x0.jpg', params='', query='', fragment='')

In [240]:
from bs4 import BeautifulSoup  # analyze html
#http://www.crummy.com/software/BeautifulSoup/bs4/doc/
soup = BeautifulSoup(html_doc)
soup.p['class']
soup.find_all('a')
soup.find_all('img', src=True):
soup.find_all("div", { "class" : "xxx"})  
soup.find(id="link3")
# <a class="sister" href="http://example.com/tillie" id="link3">Tillie</a>

#Skills

In [6]:
#conditional operator 
'' if True else "x"  # don't use: True and "" or "x"

''

In [ ]:
requests.get("http://....").content #get online html content

In [128]:
spam = 'hue'.__mul__  #a function
spam(4)

'huehuehuehue'

In [133]:
import string
sentence = "The quick brown fox jumps over the lazy dog"  #pangram 
len( [s for s in list(string.ascii_lowercase) if s in str.lower(sentence)]  )

26

In [134]:
all(letter in sentence for letter in string.ascii_lowercase)

True

In [135]:
any(l == 't' for l in 'python') # Returns True. Same as: 't' in 'python

True

In [136]:
all(l == 't' for l in 'python') # Returns False. Not all of the letters are 't'.

False

In [137]:
from random import randint,seed
seed(1)
randint(1,100) #always the same

18

In [138]:
for i, j in enumerate('abc'): print(str(i) + ":" + j)

0:a
1:b
2:c

In [139]:
from functools import reduce 
a = ['1', '2', '3'] 
reduce(lambda x, y: x + '-' + y, a)

'1-2-3'

In [140]:
a,b = [1,2,2], [2]
list(filter( lambda x: x not in b ,a))
[x for x in a if x not in b]

[1]

In [141]:
list(map(lambda x: x*2,[1,2,3]))

[2, 4, 6]

In [142]:
sorted(['ad','abd','b'])

['abd', 'ad', 'b']

In [143]:
sorted({'ad','abd','b','b'})

['abd', 'ad', 'b']

In [144]:
[{x for x in range(8)}]

[{0, 1, 2, 3, 4, 5, 6, 7}]

In [145]:
a1 = ["live", "arp", "strong"] 
a2 = ["lively", "alive", "harp", "sharp", "armstrong"]
[s1 for s1 in a1 for s2 in a2 if s1 in s2]

['live', 'live', 'arp', 'arp', 'strong']

In [146]:
students = [('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10),]  
sorted(students, key=lambda s : s[2])   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [147]:
{1,3,2} - {1}

{2, 3}

In [148]:
{1,3,2} & {1}

{1}

In [149]:
a = {'i': 30,'u': 20,'she':44}
b = {'i': 31,'u': 21,'he': 55}
c = a.copy()
c.update(b)
c

{'he': 55, 'i': 31, 'she': 44, 'u': 21}

In [150]:
 [1, 2, 3, 4, 1, 4, 1].count(1)

3

In [151]:
[1,2,3][::-1]

[3, 2, 1]

In [152]:
a = [1,2,3,2,1]
a.remove(1) #insert, remove or sort only modify the list have no return value printed
a.insert(2, -1) # 2 is index, -1 is value
b = [1,2,3,2,1]
b.pop(1) # 1 is index
print(a)
a.reverse()
print(a)
print(b)

[2, 3, -1, 2, 1]
[1, 2, -1, 3, 2]
[1, 3, 2, 1]

In [153]:
delete_nth = lambda order, max_e: [x for i, x in enumerate(order) if order[:i].count(x) < max_e]
delete_nth([20,37,20,21],1)  #item appears at most 1 times

[20, 37, 21]

In [154]:
from collections import defaultdict
d = defaultdict(list)
d[1] = 3 # int, not default list
d[1] = [4]
d[1].append(5)
d[2]  #set to default []
d

defaultdict(<class 'list'>, {1: [4, 5], 2: []})

In [155]:
i = defaultdict(int)
i[1]

0

In [ ]:
#class to json obj, from: http://stackoverflow.com/questions/3768895
from json import JSONEncoder
class MyEncoder(JSONEncoder):
    def default(self, o):
        return o.__dict__    

j = MyEncoder().encode(p)
json.loads(j)

with open('allgoods.json', 'w') as outfile:
    json.dump(map_goods, outfile,  sort_keys=True, indent=4 )

#Time

In [260]:
import datetime
import pytz
tz = pytz.timezone('Asia/Shanghai')
print(datetime.datetime.now().strftime("%Y-%m-%d_%H-%M-%S")  )
print(datetime.datetime.now(tz).strftime("%Y-%m-%d_%H-%M-%S") )

2015-05-31_14-44-33
2015-05-31_22-44-33

#DB
##MySQL
pip2 install mysql  
http://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html  
pip3 install PyMySQL  
https://github.com/PyMySQL/PyMySQL/

In [ ]:
import pymysql.cursors

# Connect to the database 
connection = pymysql.connect(host='mysqlserver',
                             user='root',
                             passwd='...',
                             db='innodb',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
try:    
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `page` (`job_start`, `site` ,`url`) VALUES (%s,%s,'http://')"
        cursor.execute(sql, (now, 'test',))
        print(cursor.lastrowid)  #get AUTO_INCREMENT id
    connection.commit()
    
    with connection.cursor() as cursor:
        #sql = "SHOW FULL PROCESSLIST" #\G"
        # Read a single record
        sql = "SELECT `url`, `id` FROM `page` WHERE `site`=%s"        
        cursor.execute(sql, ('test',))
        result = cursor.fetchone()
        print(result)
finally:
    connection.close()   
    
cursor = connection.cursor()               
cursor.callproc('shop_diff', ('111','222',))
r = cursor.fetchall()
cursor.close
connection.close
r

##MangoDB

In [230]:
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost', 270188)  #random port, no error???
client.test_database

Database(MongoClient('localhost', 270188), 'test_database')

##Redis  
https://github.com/andymccurdy/redis-py  
https://kushal.fedorapeople.org/redis-py/html/api.html  
http://www.the5fire.com/python-simple-redis.html

In [ ]:
import redis
rr = redis.StrictRedis(host='rediscache', port=6379, db=0)

pool = redis.ConnectionPool(host='rediscache', port=6379, db=0)
rrr = redis.Redis(connection_pool=pool)

rr.set('name', {'shopid':111})  # set(name, value)
eval(rr.get('name'))['shopid']  # 111

rr.hmset('test',{'shopid':1111})  # hset(name, key, value), hmset(name, mapping)   
rr.hget('test','shopid')          # b'1111'

##AWS dynamodb
http://boto.readthedocs.org/en/latest/dynamodb2_tut.html  
http://boto.readthedocs.org/en/latest/ref/dynamodb2.html  
http://boto.readthedocs.org/en/latest/migrations/dynamodb_v1_to_v2.html

In [ ]:
from boto.dynamodb2.table import Table
from boto.dynamodb2.items import Item
import boto.dynamodb2

def conn_dynamodb():  
    return boto.dynamodb2.connect_to_region(
                       'ap-southeast-1',
                       aws_access_key_id='...',
                       aws_secret_access_key='...')     

t = Table('shop',connection=conn_dynamodb())
Item(t,data={'id':5555, 'Col2': 1}).save()

try:  
    item = t.get_item(id=5555)
except boto.dynamodb2.exceptions.ItemNotFound:
    pass
d=dict(item)
d.pop("html") #remove unused key and its value

i['Col2'] = [2,'hello',None]  #str('None') for None
i.save()

#System

In [179]:
import glob,os
os.chdir("/home/")
glob.glob('*')

['ec2-user']

In [197]:
import time
time.sleep(0.2)

In [239]:
import sys
print(sys.path)

['', '/mnt/5g/tornado/nb', '/opt/python/current/app', '/opt/python/run/venv/lib64/python3.4', '/opt/python/run/venv/lib64/python3.4/plat-linux', '/opt/python/run/venv/lib64/python3.4/lib-dynload', '/usr/lib64/python3.4', '/usr/lib/python3.4', '/opt/python/run/venv/local/lib/python3.4/site-packages', '/opt/python/run/venv/lib/python3.4/site-packages', '/opt/python/run/venv/local/lib/python3.4/site-packages/IPython/extensions']

In [ ]:
import os.path
os.path.isfile("/tmp") 
os.path.exists("/tmp")

In [ ]:
exec(open("comm.py",encoding='utf-8').read())